body {
    background-image: url(../images/backgroundImg.jpg);
    /* Photo by trashhand from Pexels */
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: 100%;
    width: 80%;
    margin: 0 auto; 
    margin-top: 1%;
    color: white;
     
}

.jumbotron {
    opacity: .8;
    text-align: center;
}

.card {
    max-width: 45rem!important;
    margin: 0 auto;
    opacity: .8;
}

h2 {
    font-size: 25px;
    margin: 15px 0px;

}
.radioBtns {
    display: inline;
    padding-left: 15px;
    padding-right: 5px;
}